In [73]:
# Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# Additional Imports
import os, json, math, time
from yelpapi import YelpAPI
from tqdm.notebook import tqdm_notebook

In [74]:
# Designating folder to save info
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['final_tmdb_data_2001.csv.gz',
 'title_akas.csv.gz',
 'title_basics.csv.gz',
 'title_ratings.csv.gz',
 'tmdb_api_results_2000.json',
 'tmdb_api_results_2001.json']

In [75]:
# Defining range of years to retrieve
yrs_to_get = [2000, 2001]

Outer Loop

YEARS:   0%|          | 0/2 [00:00<?, ?it/s]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0093119,movie,Grizzly II: Revenge,Grizzly II: The Predator,0,2020,NaN,74,"Horror,Music,Thriller"

Filtering out movie_id's that already exist

   imdb_id
0        0

Inner Loop

In [82]:
def get_movie_with_rating(movie_id):
    # Getting movie object for current id
    movie = tmdb.Movies()
    # Saving .info .releases dictionaries
    info = movie.info()
    releases = movie.releases()
    # Looping through the countries in releases
    for c in releases['countries']:
        # If the country abbreviation == US
        if c['iso_3166_1'] == 'US':
            # Saving a certification key in the info dictionaries with the certification
            info['certification'] = c['certification']

In [84]:
#Getting index and movie id from list
for movie_id in tqdm_notebook(get_movieid,
                              desc=f'Movies from {YEAR}',
                              position=1,
                              leave=True):
    # Attempting to retrieve data for movie_id
    try:
        # Using premade movie_id function
        temp = get_movie_with_rating(movie_id) 
        # Applying premade write_json function to appen/extend
        write_json(temp,JSON_FILE)
        # Applying a short 20ms sleep to prevent overwhelming server
        time.sleep(0.02)

    # If it fails, make a dict with just the id and None for certification.
    except Exception as e:
        continue

Movies from 2001:   0%|          | 0/1521 [00:00<?, ?it/s]

In [85]:
final_year_df = pd.read_json(JSON_FILE)
final_year_df.to_csv(f"{FOLDER}final_tmdb_data_{YEAR}.csv.gz", compression="gzip", index=False)

In [86]:
2

2